# Database
NATURE_ALERT_CAMERA24_DATABASE_URL=sqlite:///./nature_alert_camera24.db

# API
NATURE_ALERT_CAMERA24_SERVER_HOST=0.0.0.0
NATURE_ALERT_CAMERA24_SERVER_PORT=8000
NATURE_ALERT_CAMERA24_UPLOAD_URL=http://127.0.0.1:8000/upload/

# Email
NATURE_ALERT_CAMERA24_SMTP_SERVER=smtp.gmail.com
NATURE_ALERT_CAMERA24_SMTP_PORT=465
NATURE_ALERT_CAMERA24_EMAIL_ADDRESS=
NATURE_ALERT_CAMERA24_EMAIL_PASSWORD=
NATURE_ALERT_CAMERA24_DEFAULT_RECIPIENT=

# Detection
NATURE_ALERT_CAMERA24_DETECTION_INTERVAL=5
NATURE_ALERT_CAMERA24_CUSTOM_MODEL_PATH=datasets/wages/best.pt
NATURE_ALERT_CAMERA24_FALLBACK_MODEL_PATH=yolov11n.pt


